/*.logo-header { width: 100%; min-width: 506px; margin:0 auto; text-align:center; margin-bottom: 10px; }*/
/*.logo-header > img { margin:0 auto; height:180px; width:506px; }*/
.logo-header {text-align:center;}
.hide { display:none; }
[class^="icon-"], [class*=" icon-"] { background-image: url("../img/layout/glyphicons-halflings.png");}
.icon-white { background-image: url("../img/layout/glyphicons-halflings-white.png");}
.left { float:left; margin-right:2px;}
.post {margin-bottom:5px;border-bottom: 1px solid #e5e5e5;}
.navbar-inner { padding-left: 0; padding-right: 0; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}
#content { position: relative; padding-top: 30px;}
.footer { margin-top: 45px; margin-right: auto; margin-left: auto; padding: 35px 0 36px; border-top: 1px solid #e5e5e5; }
.footer p { margin-bottom: 0; color: #555; }

.post {text-align:justify}
