{% extends "layout.html.twig" %}

{% block body %}
	<div class="container-fluid">
		{% for gallery in galleries %}
			{% if loop.index is not divisibleby(3) %}
				<div class="row-fluid">
					<ul class="thumbnails">
			{% endif %}
						<li class="span4">
							<div class="thumbnail">
								<a href="/gallery/{{ gallery.filename }}"><img src="http://placehold.it/300x200" alt></a>
								<div class="caption">
									<h3>{{ gallery.filename }}</h3>
								</div>
							</div>
						</li>
			{% if loop.index is not divisibleby(3) %}
					</ul>
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
